footer {
    background: $grey4;
    color: $white;
    padding: 25px;
    a {
        text-decoration: none;
        color: $white;
    }
    i {
        width: 13px;
        margin-right: 10px;
    }
    h2 {
        margin-bottom: 16px;
        font-weight: normal;
    }
    p {
        margin-bottom: 8px;
    }
}

.logo {
    font-family: 'Shrikhand', cursive;
}

@media screen and (min-width: 1024px) {
    footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 50px 0;
        .logo {
            padding-right: 50px;
        }
        h2 {
            margin-bottom: 8px;
        }
        div:nth-child(2) {
            display: flex;
            flex-direction: row;
            padding-right: 40px;
            p {
                padding: 0 20px;
            }
        }
    }
}