header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    width: 162px;
    margin-top: 20px;
    margin-bottom: 10px;
}

header a {
    padding-top: 6px;
}

header i {
    transform:scaleX(-1);
    position: absolute;
    top: 1em;
    left: 2em;
    font-size: 1.3em;
}

.fa-arrow-right {
    color:$black;
}

@media screen and (min-width: 634px) {
    header img{
        width: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}