.restodetail {
    padding: 30px 0 40px 0;
    border-radius: 20px 20px 0 0;
    background: $grey1;
    z-index: 2;
    position: relative;
    top: -5em;

    .bouton {
        display: flex;
        justify-content: center;
    }
}

body {
    position: relative;
}

footer {
    position: absolute;
    bottom: -6em;
    height: 200px;
    z-index: 5;
    width: 100%;
}


@media screen and (min-width: 1024px) {
    .restodetail {
        max-width: 1024px;
        margin: auto;
    }
}