.validation {
    position: relative;
    right: -13px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $tertiaire;
    color: $white;
    height: 100%;
    width: 0.3em;
    border-radius: 0 20px 20px 0;
    opacity: 0;
    transition-duration: 1s, 0.5s;
	transition-property: width, opacity;
	transition-delay: 0s, 0.5s;
}

.validation i {
    font-size: 1.3em;
}

.validation:hover {
    opacity: 1;
    width: 7em;
    min-width: 1.5em;
}