.heart i{
    z-index:6;
    color: var(--white);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 1.5em;
}

.heart i:hover{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--primaire);
}

.heartcolor i {
    position: absolute;
    color: var(--white);
    background: linear-gradient(200.64deg, var(--primaire) -5.2%, var(--secondaire) 110.74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0px;
    font-size: 1.5em;
    opacity: 0;
    transition: 1000ms;
}

.heartcolor i:hover {
    opacity: 1;
}
