* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 500;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.75em;
  font-family: "Shrikhand", sans-serif;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 1.2em;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

h4 {
  font-weight: 300;
  font-size: 1.1em;
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

.fin {
  font-weight: 300;
}

#loader {
  background-color: #9356DC;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 7;
  opacity: 1;
  display: flex;
  animation: disparition 3200ms forwards;
}

svg {
  position: absolute;
  top: 120%;
}

.cup {
  height: 140px;
  width: 180px;
  border: 6px solid #9356DC;
  position: absolute;
  top: 40%;
  left: 40%;
  border-radius: 0 0 70px 70px;
  background: url(../../assets/images/coffeesecondary.png);
  box-shadow: 0 0 0 6px #fff;
  background-repeat: repeat-x;
  background-position: 0 140px;
  animation: fill 2800ms forwards;
}

.handle {
  height: 70px;
  width: 40px;
  background-color: transparent;
  border: 6px solid #fff;
  position: relative;
  left: 186px;
  top: 2px;
  border-radius: 0 25px 80px 0;
}

@keyframes fill {
  0% {
    background-position: 0 140px;
  }
  20% {
    background-position: -270px 104px;
  }
  40% {
    background-position: -540px 68px;
  }
  60% {
    background-position: -810px 32px;
  }
  80% {
    background-position: -1080px -4px;
  }
  100% {
    background-position: -1350px -40px;
  }
}
@keyframes disparition {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
    z-index: 7;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@media screen and (max-width: 634px) {
  .cup {
    left: 30%;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: 162px;
  margin-top: 20px;
  margin-bottom: 10px;
}

header a {
  padding-top: 6px;
}

header i {
  transform: scaleX(-1);
  position: absolute;
  top: 1em;
  left: 2em;
  font-size: 1.3em;
}

.fa-arrow-right {
  color: #000;
}

@media screen and (min-width: 634px) {
  header img {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
#ville {
  background: #EAEAEA;
  height: 50px;
  width: 100%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ville i {
  margin-right: 17px;
}

#reservation {
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 30px;
  text-align: center;
}

#reservation h2 {
  padding: 0 20px;
}

#reservation p {
  font-size: 1.2em;
  font-weight: 300;
  padding: 10px 0;
}

button {
  color: #fff;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  padding: 13px 18px;
  margin: 20px 0;
  cursor: pointer;
}

.commander {
  padding-right: 40px;
  padding-left: 40px;
}

button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

#fonctionnement {
  padding: 45px 0;
}
#fonctionnement h2 {
  margin: 0 0 1.5em 1.5em;
}
#fonctionnement aside div {
  position: relative;
  height: 72px;
  display: flex;
  align-items: center;
  padding-right: 20px;
  margin: 0 2em;
  background: #F6F6F6;
  border-radius: 20px;
  z-index: 2;
  margin-bottom: 24px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
#fonctionnement aside div p {
  font-weight: 500;
}
#fonctionnement aside div i {
  margin: 0 20px;
  color: var(--grey3);
}
#fonctionnement aside div:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.circle {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  background: #9356DC;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -0.75rem;
}

@media screen and (min-width: 634px) {
  #fonctionnement {
    width: 80%;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  #fonctionnement {
    max-width: 1024px;
    width: 100%;
    margin: auto;
  }
  #fonctionnement .fonctrow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #fonctionnement .fonctrow aside div {
    width: 30%;
    font-size: 1em;
  }
}
.heart i {
  z-index: 6;
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  -moz-text-stroke-width: 1px;
  -moz-text-stroke-color: #000;
  font-size: 1.5em;
}

.heart i:hover {
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #9356DC;
  -moz-text-stroke-width: 0px;
  -moz-text-stroke-color: #9356DC;
}

.heartcolor i {
  position: absolute;
  color: #fff;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-stroke-width: 0px;
  font-size: 1.5em;
  opacity: 0;
  transition: 1000ms;
}

.heartcolor i:hover {
  opacity: 1;
}

#restaurants {
  background: #F6F6F6;
  padding: 20px 0 25px 0;
}
#restaurants h2 {
  margin-left: 20px;
  padding: 2em 0 1.5em 1em;
}

.resto {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  margin: auto;
  margin-bottom: 20px;
  text-decoration: none;
  color: #000;
}
.resto article {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  object-fit: cover;
}
.resto article div {
  flex-direction: column;
  padding: 10px 0 10px 12px;
  position: relative;
}
.resto article div:nth-child(1) {
  width: 80%;
}
.resto article div:nth-child(2) {
  width: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 10px 10px 0;
}
.resto a {
  width: 100%;
  position: relative;
}
.resto a .new {
  position: absolute;
  z-index: 5;
  top: 15px;
  right: 15px;
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resto a .new p {
  color: #008766;
}
.resto img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

@media screen and (min-width: 634px) {
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .resto {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .resto {
    width: 23%;
  }
}
footer {
  background: #353535;
  color: #fff;
  padding: 25px;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer i {
  width: 13px;
  margin-right: 10px;
}
footer h2 {
  margin-bottom: 16px;
  font-weight: normal;
}
footer p {
  margin-bottom: 8px;
}

.logo {
  font-family: "Shrikhand", cursive;
}

@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 50px 0;
  }
  footer .logo {
    padding-right: 50px;
  }
  footer h2 {
    margin-bottom: 8px;
  }
  footer div:nth-child(2) {
    display: flex;
    flex-direction: row;
    padding-right: 40px;
  }
  footer div:nth-child(2) p {
    padding: 0 20px;
  }
}

/*# sourceMappingURL=style.css.map */
