.partmenu {
    h2 {
        font-weight: 300;
        font-size: 1em;
        text-transform: uppercase;
        justify-content: flex-start;
        margin-left: 20px;
    }
    hr {
        margin: 7px 0 13px 20px;
        width: 40px;
        border: 2px solid var(--tiny-blue);
    }
    article {
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px;
        padding: 0 12px;
        background: var(--white);
        border-radius: 20px;
        margin-bottom: 24px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        p {
            font-size: 0.9em;
            font-weight: 300;
        }
        div:nth-child(1) {
            width: 80%;
        }
        div:nth-child(2) {
            width: 2em;
            margin-left: 10px;
        }
    }
}

@media screen and (min-width: 634px) {
    .partmenu {
        max-width: 634px;
        margin: auto;
    }
}

@media screen and (max-width: 634px) {    
    .partmenu article div:nth-child(1) {
        width: 65%;
    }
}