.partmenu {
    .transition1 {
        opacity: 0;
        animation: transit 2s forwards;
    }
    .transition2 {
        opacity: 0;
        animation: transit 2s 1.25s forwards;
    }
    .transition3 {
        opacity: 0;
        animation: transit 2s 2.5s forwards;
    }
}

@keyframes transit {
    0% {
        transform: translateY(255px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
