#ville {
    background: $grey2;
    height: 50px;
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ville i {
    margin-right: 17px;
}

#ville h1 {
    font-size: 1em;
    font-weight: 300;
}